<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${exercise.idExercise == null} ? 'Nowe Ćwiczenie' : 'Edytuj Ćwiczenie'">Ćwiczenie</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
  <style>
    html, body {
height: 100%;
margin: 0;
font-family: "Lato", sans-serif;
display: flex;
flex-direction: column;
}
.form-container {
    max-width: 600px;
    margin: 50px auto;
    flex: 1;
}
textarea {
    resize: none; /* Zablokowanie możliwości rozszerzania pola */
}
  </style>
</head>
<body>

<div th:replace="~{header :: header}"></div>

<div class="w3-container form-container">
  <h2 th:text="${exercise.idExercise == null} ? 'Nowe Ćwiczenie' : 'Edytuj Ćwiczenie'"></h2>
  <form th:action="@{${exercise.idExercise == null} ? '/admin/exercise/new' : '/admin/exercise/edit/' + ${exercise.idExercise}}"
        th:object="${exercise}" method="post" enctype="multipart/form-data">
    <p>
      <label>Nazwa</label>
      <input class="w3-input" type="text" th:field="*{name}" required />
    </p>
    <p>
      <label>Opis</label>
      <textarea class="w3-input" th:field="*{description}" required></textarea>
    </p>
    <p>
      <label>Trudność</label>
      <select class="w3-select" th:field="*{difficulty}" required>
        <option value="beginner">Początkujący</option>
        <option value="intermediate">Średnio zaawansowany</option>
        <option value="advanced">Zaawansowany</option>
      </select>
    </p>
    <p>
      <label>Typ ćwiczenia</label>
      <select class="w3-select" th:field="*{type}" th:disabled="${isTypeLocked}">
        <option value="STRENGTH">Siłowe</option>
        <option value="CARDIO">Cardio</option>
      </select>
    <p th:if="${isTypeLocked}" style="color: red; font-weight: bold;">
      Nie można edytować typu ćwiczenia, ponieważ jest używane w planach lub workoutach.
    </p>
    </p>
    <p>
      <label>Części ciała</label>
      <select class="w3-select" name="bodyPartIds">
        <option th:each="bp : ${bodyParts}"
                th:value="${bp.idBodyPart}"
                th:text="${bp.name}">
        </option>
        <option th:if="${#lists.isEmpty(bodyParts)}" disabled>Brak dostępnych części ciała</option>
      </select>
    </p>
    <p>
      <label>Sprzęt</label>
      <select class="w3-select" name="equipmentIds">
        <option th:each="bp : ${equipments}"
                th:value="${bp.idEquipment}"
                th:text="${bp.name}">
        </option>
        <option th:if="${#lists.isEmpty(equipments)}" disabled>Brak dostępnych sprzętów</option>
      </select>
    </p>
    <p>
      <label>Nowe zdjęcie:</label>
      <input class="w3-input" type="file" name="imageFile" accept=".jpg"/>
    </p>

    <p th:if="${exercise.jpg != null}">
      <label>Obecne zdjęcie:</label><br>
      <img th:src="${exercise.jpg}" alt="Zdjęcie ćwiczenia" style="max-width: 200px;"/>
    </p>

    <p>
      <button class="w3-btn w3-blue-grey" type="submit">Zapisz</button>
      <a th:href="@{/admin/exercise/list}" class="w3-btn w3-red">Anuluj</a>
    </p>
  </form>
</div>

<div th:replace="~{footer :: footer}"></div>

</body>
</html>
