<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${exercise.idExercise == null} ? 'Nowe Ćwiczenie' : 'Edytuj Ćwiczenie'">Ćwiczenie</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
  <style>
        .form-container {
            max-width: 600px;
            margin: 50px auto;
        }
    </style>
</head>
<body>
<div class="w3-container form-container">
  <h2 th:text="${exercise.idExercise == null} ? 'Nowe Ćwiczenie' : 'Edytuj Ćwiczenie'"></h2>
  <form th:action="@{${exercise.idExercise == null} ? '/admin/exercise/new' : '/admin/exercise/edit/' + ${exercise.idExercise}}" th:object="${exercise}" method="post">
    <p>
      <label>Nazwa</label>
      <input class="w3-input" type="text" th:field="*{name}" required />
    </p>
    <p>
      <label>Opis</label>
      <textarea class="w3-input" th:field="*{description}" required></textarea>
    </p>
    <p>
      <label>Trudność</label>
      <select class="w3-select" th:field="*{difficulty}" required>
        <option th:each="d : ${difficulties}" th:value="${d}" th:text="${d}"></option>
      </select>
    </p>
    <p>
      <label>Typ ćwiczenia</label>
      <select class="w3-select" th:field="*{type}" required>
        <option th:each="t : ${exerciseTypes}" th:value="${t}" th:text="${t}"></option>
      </select>
    </p>
    <p>
      <label>Obrazek (URL)</label>
      <input class="w3-input" type="text" th:field="*{jpg}" />
    </p>
    <p>
      <label>Części ciała</label>
      <select class="w3-select" name="bodyPartIds" multiple>
        <option th:if="${bodyParts != null and not #lists.isEmpty(bodyParts)}"
                th:each="bp : ${bodyParts}"
                th:value="${bp.idBodyPart}"
                th:text="${bp.name}"
                th:selected="${exercise.bodyParts != null ? exercise.bodyParts.contains(bp) : false}">
        </option>
        <option th:if="${#lists.isEmpty(bodyParts)}" disabled>Brak dostępnych części ciała</option>
      </select>
    </p>
    <p>
    <p th:text="'EquipmentList: ' + ${equipmentList}"></p>

    <label>Sprzęt</label>
      <select class="w3-select" name="equipmentIds" multiple>
        <option th:each="eq : ${equipmentList != null ? equipmentList : {}}"
                th:value="${eq.idEquipment}"
                th:text="${eq.name}"
                th:selected="${exercise.equipment != null ? exercise.equipment.contains(eq) : false}">
        </option>

        <option th:if="${#lists.isEmpty(equipmentList)}" disabled>Brak dostępnego sprzętu</option>
      </select>
    </p>
    <p>
      <button class="w3-btn w3-blue-grey" type="submit">Zapisz</button>
      <a th:href="@{/admin/panel}" class="w3-btn w3-red">Anuluj</a>
    </p>
  </form>
</div>
</body>
</html>
