<!DOCTYPE html>
<html xmlns:th="http://www.thymelea`f.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Szczegóły Ćwiczenia</title>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container">
  <h1 th:text="${exercise.name}"></h1>
  <img th:src="${exercise.jpg}" alt="Exercise Image">
  <p th:text="${exercise.description}"></p>
  <p>Trudność: <span th:text="${exercise.difficulty}"></span></p>
  <p>Części ciała: <span th:text="${#strings.arrayJoin(exercise.bodyParts.toArray(), ', ')}"></span></p>
  <p>Sprzęt: <span th:text="${#strings.arrayJoin(exercise.equipment.toArray(), ', ')}"></span></p>
  <a href="/exercises">Powrót do listy</a>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
