<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MyBudget - rejestracja</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    .fa-anchor,.fa-coffee {font-size:200px}
    .error-message {
      background-color: #ffdddd;
      color: #d8000c;
      border: 1px solid #d8000c;
      border-radius: 5px;
      padding: 10px;
      font-size: 0.9em;
      margin-top: 5px;
      display: none;
    }
    .invalid {
      border: 2px solid #d8000c;
    }
  </style>
</head>
<body>
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#" th:href="@{/register}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Zarejestruj się</a>
    <a href="#" th:href="@{/Login}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right">Zaloguj się</a>
  </div>
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" th:href="@{/register}" class="w3-bar-item w3-button w3-padding-large">Zarejestruj się</a>
    <a href="#" th:href="@{/Login}" class="w3-bar-item w3-button w3-padding-large">Zaloguj się</a>
  </div>
</div>
<!-- Header -->
<header class="w3-container w3-blue w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo" th:text="${message}"></h1>
  <p class="w3-xlarge"></p>
</header>
<!-- Form Section -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h2>Rejestracja użytkownika</h2>
      <form id="registrationForm" th:action="@{/register}" th:object="${User}" method="post">
        <label for="Email">Email:</label>
        <input class="w3-input w3-border" type="text" id="Email" th:field="*{email}" required/>
        <div id="emailError" class="error-message"></div><br/>

        <label for="Password">Hasło:</label>
        <input class="w3-input w3-border" type="password" id="Password" th:field="*{password}" required/>
        <div id="passwordError" class="error-message"></div><br/>

        <label for="First_name">Imię:</label>
        <input class="w3-input w3-border" type="text" id="First_name" th:field="*{firstName}" required/>
        <div id="firstNameError" class="error-message"></div><br/>

        <label for="Second_name">Nazwisko:</label>
        <input class="w3-input w3-border" type="text" id="Second_name" th:field="*{secondName}" required/>
        <div id="secondNameError" class="error-message"></div><br/>

        <label for="BirthDate">Data urodzenia:</label>
        <input class="w3-input w3-border" type="date" id="BirthDate" th:field="*{birthDate}" required/><br/>

        <label for="Gender">Płeć:</label>
        <select class="w3-input w3-border" id="Gender" th:field="*{gender}">
          <option value="KOBIETA">Kobieta</option>
          <option value="MĘŻCZYZNA">Mężczyzna</option>
        </select><br/>

        <label for="UserType">Typ użytkownika:</label>
        <select class="w3-input w3-border" id="UserType" th:field="*{userType}">
          <option value="UŻYTKOWNIK">Użytkownik</option>
          <option value="TRENER">Trener</option>
        </select><br/>

        <!-- Sekcja widoczna tylko dla trenerów -->
        <div id="trainerFields" style="display: none;">

          <label for="StartDate">Data rozpoczęcia działalności:</label>
          <input class="w3-input w3-border" type="date" id="StartDate" th:field="*{startDate}" required/><br/>

          <label for="PhoneNumber">Numer kontaktowy:</label>
          <input class="w3-input w3-border" type="text" id="PhoneNumber" th:field="*{phoneNumber}" required/><br/>

          <label for="WorkArea">Obszar pracy:</label>
          <input class="w3-input w3-border" type="text" id="WorkArea" th:field="*{workArea}"/><br/>

          <label>Specjalizacje:</label>
          <div id="specializations">
            <!-- Pierwsze, bazowe pole bez przycisku "Usuń" -->
            <div class="specialization-field">
              <input class="w3-input w3-border" type="text" name="specializations" required/>
            </div>
          </div>
          <button type="button" onclick="addSpecialization()">Dodaj specjalizację</button>
        </div>
        <button class="w3-btn w3-blue-grey w3-round-xxlarge" type="submit">Zarejestruj</button>
      </form>


    </div>
  </div>
</div>
<!-- Footer -->
<div th:replace="~{footer :: footer}"></div>
<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
<script>
        // Pobieramy elementy
        const button = document.getElementById('showButton');
        const div = document.getElementById('hiddenDiv');

        // Funkcja do pokazania div po kliknięciu przycisku
        button.onclick = function() {
            // Sprawdzamy, czy div jest widoczny
            if (div.style.display === 'none' || div.style.display === '') {
                // Jeśli div jest ukryty, to go pokazujemy
                div.style.display = 'block';
            } else {
                // Jeśli div jest widoczny, to go ukrywamy
                div.style.display = 'none';
            }
        };
</script>
<script>

function addSpecialization() {
    const container = document.getElementById("specializations");

    // Tworzymy nowy div dla specjalizacji
    const specDiv = document.createElement("div");
    specDiv.classList.add("specialization-field");

    // Tworzymy pole input
    const input = document.createElement("input");
    input.type = "text";
    input.name = "specializations";
    input.classList.add("w3-input", "w3-border");
    input.required = true;

    // Tworzymy przycisk "Usuń"
    const removeBtn = document.createElement("button");
    removeBtn.type = "button";
    removeBtn.textContent = "Usuń";
    removeBtn.classList.add("remove-btn");
    removeBtn.onclick = function () {
        removeSpecialization(specDiv);
    };

    // Dodajemy input i przycisk do div'a
    specDiv.appendChild(input);
    specDiv.appendChild(removeBtn);

    // Dodajemy całość do kontenera
    container.appendChild(specDiv);
}

function removeSpecialization(specDiv) {
    specDiv.remove();
}
function validateForm(event) {
    let isValid = true;

    // Pobranie pól formularza
    const email = document.getElementById('Email');
    const password = document.getElementById('Password');
    const firstName = document.getElementById('First_name');
    const secondName = document.getElementById('Second_name');
    const birthDate = document.getElementById('BirthDate');
    const userType = document.getElementById('UserType');
    const gender = document.getElementById('Gender');


    const nameRegex = /^[A-ZĄĆĘŁŃÓŚŹŻ][a-ząćęłńóśźż]+$/;

    const firstNameError = document.getElementById('firstNameError');
    const secondNameError = document.getElementById('secondNameError');
    const emailError = document.getElementById('emailError');
    const passwordError = document.getElementById('passwordError');

    // Resetowanie błędów dla każdego pola
    function resetError(field, errorElement) {
        field.classList.remove('invalid');
        errorElement.style.display = 'none';
    }

    // Ustawianie błędów dla danego pola
    function setError(field, errorElement, message) {
        field.classList.add('invalid');
        errorElement.textContent = message;
        errorElement.style.display = 'block';
        isValid = false;
    }

    resetError(email, emailError);
    resetError(password, passwordError);
    resetError(firstName, firstNameError);
    resetError(secondName, secondNameError);

    // Walidacja emailu
    if (!email.value.trim()) {
        setError(email, emailError, "Email jest wymagany.");
    }

    // Walidacja hasła
    if (!password.value.trim()) {
        setError(password, passwordError, "Hasło jest wymagane.");
    }

    // Walidacja imienia
    if (!firstName.value.trim()) {
        setError(firstName, firstNameError, "Imię jest wymagane.");
    } else if (!nameRegex.test(firstName.value)) {
        setError(firstName, firstNameError, "Imię musi zaczynać się od wielkiej litery i zawierać tylko litery.");
    }

    // Walidacja nazwiska
    if (!secondName.value.trim()) {
        setError(secondName, secondNameError, "Nazwisko jest wymagane.");
    } else if (!nameRegex.test(secondName.value)) {
        setError(secondName, secondNameError, "Nazwisko musi zaczynać się od wielkiej litery i zawierać tylko litery.");
    }

    // Blokowanie wysyłania formularza, jeśli nie jest poprawny
    if (!isValid) {
        event.preventDefault();
    }
}

// Podpięcie walidacji do formularza
document.getElementById('registrationForm').addEventListener('submit', validateForm);

document.addEventListener("DOMContentLoaded", function() {
    const userTypeSelect = document.getElementById("UserType");
    const trainerFields = document.getElementById("trainerFields");
    const trainerInputs = trainerFields.querySelectorAll("input");

    function toggleTrainerFields() {
        const isTrainer = userTypeSelect.value === "TRENER";

        // Pokaż pola dla trenerów, jeśli wybrano "TRENER"
        trainerFields.style.display = isTrainer ? "block" : "none";

        // Włącz lub wyłącz pola trenerów
        trainerInputs.forEach(input => {
            if (isTrainer) {
                input.removeAttribute("disabled");
            } else {
                input.setAttribute("disabled", "disabled");
            }
        });
    }

    // Uruchom funkcję po zmianie typu użytkownika
    userTypeSelect.addEventListener("change", toggleTrainerFields);

    // Przed wysłaniem formularza włącz wszystkie pola, żeby się wysłały
    document.getElementById("registrationForm").addEventListener("submit", function() {
        trainerInputs.forEach(input => input.removeAttribute("disabled"));
    });

    // Uruchom funkcję przy ładowaniu strony (dla edycji)
    toggleTrainerFields();


});

</script>
</body>
</html>
